<%- include('partials/header') %>

    <div class="main-content">
        <div class="product-box">
            <div class="product-detail">

                <div class="product-detail-image-container">
                    <img src="<%= product.image %>" alt="<%= product.name %>">
                </div>


                <div class="product-detail-cart-column">
                    <h1 class="product-name">
                        <%= product.name %>
                    </h1>
                    <p class="price">$<%= product.price %>
                    </p>
                    <p class="description">
                        <%= product.description %>
                    </p>

                    <form action="/cart/add/<%= product.id %>" method="POST">
                        <button type="submit" class="add-to-cart-button">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <%- include('partials/footer') %>