<%- include('partials/header') %>

<div class="main-content">
    <div class="product-detail">
        <div class="product-detail-image-container">
            <img src="<%= product.image %>" alt="<%= product.name %>">

        </div>
        <div class="product-detail-cart-column">
            <p class="price">$<%= product.price %></p>
            <p class="description"><%= product.description %></p>

            <!-- to do: add to cart button -->
            <a href="/placeholder" class="button">Buy now</a>
            <a href="/placeholder" class="button">Add to cart</a>
        </div>

        <h1><%= product.name %></h1>

    </div>
</div>


<%- include('partials/footer') %>